.text-field {
    -fx-border-color: #0078ff;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}
.label {
    -fx-font-size: 12px;
    -fx-transition: all 0.2s ease;
}

#Header {
    -fx-font-size: 40px;
    -fx-font-weight: bold ;
    -fx-text-fill: #333333;
}

#uploadButton {
    -fx-background-color: transparent; 
    -fx-border-color: transparent;  
    -fx-text-fill: #393333ff;
}

#uploadButton:hover {
    -fx-underline : true ; 
    -fx-cursor: hand; 
}