.root {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: #333;
}

.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

.add-skill {
    -fx-text-fill: #0a84ff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 0 0 0 20;
}

.section-box {
    -fx-background-color: #f9fbfc;
    -fx-padding: 20;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.05) , 5, 0, 0, 1 );
    -fx-min-width: 300;
}

.section-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 0 0 10 0;
}

.skill-label {
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-min-width: 110;
}

.progress-bar-bg {
    -fx-background-color: #e1e4e8;
    -fx-background-radius: 5;
    -fx-padding: 0;
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-pref-width: 200;
}

.progress-bar-fill {
    -fx-background-color: black;
    -fx-background-radius: 5;
    -fx-pref-height: 10;
}

.skill-percent {
    -fx-text-fill: #888;
    -fx-font-size: 13px;
    -fx-min-width: 35;
    -fx-alignment: center-right;
}
