.text-field {
    -fx-border-color: #0078ff;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}
.label {
    -fx-font-size: 12px;
    -fx-transition: all 0.2s ease;
}

#Header {
    -fx-font-size: 40px;
    -fx-font-weight: bold ;
    -fx-text-fill: #333333;
}

#uploadButton {
    -fx-background-color: transparent; 
    -fx-border-color: transparent;  
    -fx-text-fill: #393333ff;
}

#uploadButton:hover {
    -fx-underline : true ; 
    -fx-cursor: hand; 
}
#login {
    -fx-background-image: url("../icons/background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    /* -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, 
        black 0%, 

     rgb(11, 11, 122) 80%,
     red 100%) ; */
   
        /* radial-gradient(
            focus-angle 45deg, 
            focus-distance 0%, 
            center 0% 0%, 
            radius 50%, 
            red 0%, 
            black 50%, 
            #1e089b 100%
        ); */
}

#rootStackPane {
  -fx-background-color: white;
}

